<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385437875037-cnd0ttfd4emaj3glkilglpar0nlkb9mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385437875037-cnd0ttfd4emaj3glkilglpar0nlkb9mt</string>
	<key>API_KEY</key>
	<string>AIzaSyBmuP5iyugECSKbzKK88tzSnc2FIeOH_CU</string>
	<key>GCM_SENDER_ID</key>
	<string>385437875037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.2DProject</string>
	<key>PROJECT_ID</key>
	<string>game-660e6</string>
	<key>STORAGE_BUCKET</key>
	<string>game-660e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385437875037:ios:1d15e88235951d8f4046b4</string>
	<key>DATABASE_URL</key>
	<string>https://game-660e6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>